@using System.Globalization
@using Updog.Core.Models

@page "/transactions"

<EnsureAuthenticated>
    <PageTitle>Transactions | updog</PageTitle>

    <h1 Class="mb-4">Transactions</h1>

    <MudStack>
        <MudPaper>
            <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.FlexEnd" Class="pa-4">
                <MudSelect Variant="Variant.Outlined" Clearable="true" Label="Account" Value="@FilterByAccountId"
                    ValueChanged="@((string? value) => OnAccountFilterChanged(value))" ShrinkLabel="true"
                    Placeholder="Any">
                    @foreach (var account in _accounts.OrderByDescending(a => a.Attributes.AccountType))
                    {
                        <MudSelectItem Value="account.Id">@account.Attributes.DisplayName</MudSelectItem>
                    }
                </MudSelect>
            </MudStack>
            <MudTable Elevation="0" Items="_transactions" Loading="@_loading" Dense="true" Breakpoint="Breakpoint.None">
                <ColGroup>
                    <col style="width:100%" />
                </ColGroup>
                <HeaderContent>

                </HeaderContent>
                <RowTemplate>
                    <MudTd>
                        <MudStack Spacing="0">
                            <MudStack Row="true" AlignItems="AlignItems.Center">
                                <MudText>
                                    @context.Attributes.Description
                                </MudText>
                            </MudStack>
                            <MudText Typo="Typo.caption" Class="mud-text-disabled">
                                @context.Attributes.CreatedAt.ToString("g")
                                @if (!string.IsNullOrEmpty(context.Attributes.Message))
                                {
                                    <span> - @context.Attributes.Message</span>
                                }
                            </MudText>
                        </MudStack>
                    </MudTd>
                    <MudTd Style="text-align:right">
                    </MudTd>
                    <MudTd Style="text-align:right">
                        <MudStack Spacing="0">
                            <MudText
                                Color="@(context.Attributes.Amount.ValueInBaseUnits > 0 ? Color.Success : Color.Inherit)">
                                @context.Attributes.Amount.ToDisplayString()
                            </MudText>

                            @if (context.Attributes.Status == "HELD")
                            {
                                <MudText Typo="Typo.caption" Class="mud-text-disabled">PENDING</MudText>
                            }
                        </MudStack>
                    </MudTd>
                </RowTemplate>
                <NoRecordsContent>
                    <MudText>No transactions found</MudText>
                </NoRecordsContent>
                <LoadingContent>
                    <MudText>Loading...</MudText>
                </LoadingContent>
            </MudTable>
            <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.FlexEnd" Class="pa-1">
                <MudStack Row="true" AlignItems="AlignItems.Center">
                    <MudInputLabel Typo="Typo.body2">Results per page:</MudInputLabel>
                    <MudSelect Value="@_resultsPerPage" ValueChanged="@((int value) => OnResultsPerPageChanged(value))"
                        Class="mud-table-pagination-select" Dense="true" Typo="Typo.body2" Underline="false">
                        <MudSelectItem Value="25">25</MudSelectItem>
                        <MudSelectItem Value="50">50</MudSelectItem>
                        <MudSelectItem Value="100">100</MudSelectItem>
                    </MudSelect>
                </MudStack>
                <MudIconButton OnClick="OnFirstButtonClicked" Disabled="@(PrevPageLink == null)"
                    Icon="@Icons.Material.Filled.FirstPage" />
                <MudIconButton OnClick="OnPrevButtonClicked" Disabled="@(PrevPageLink == null)"
                    Icon="@Icons.Material.Filled.NavigateBefore" />
                <MudIconButton OnClick="OnNextButtonClicked" Disabled="@(NextPageLink == null)"
                    Icon="@Icons.Material.Filled.NavigateNext" />
            </MudStack>
        </MudPaper>
    </MudStack>
</EnsureAuthenticated>
