@using System.Globalization
@using Updog.Core.Models

@page "/transactions"

<EnsureAuthenticated>
    <PageTitle>Transactions | updog</PageTitle>

    <h1 Class="mb-4">Transactions</h1>

    <MudStack>
        <MudPaper>
            <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.FlexEnd" Class="pa-4">
                <MudSelect Variant="Variant.Outlined" Clearable="true" Label="Account" Value="@FilterByAccountId"
                    ValueChanged="@((string? value) => OnAccountFilterChanged(value))" ShrinkLabel="true"
                    Placeholder="Any">
                    @foreach (var account in _accounts.OrderByDescending(a => a.Attributes.AccountType))
                    {
                        <MudSelectItem Value="account.Id">@account.Attributes.DisplayName</MudSelectItem>
                    }
                </MudSelect>
            </MudStack>
            <MudTable Elevation="0" Items="_transactions" Loading="@_loading" Dense="true" Breakpoint="Breakpoint.None">
                <ColGroup>
                    <col style="width:100%" />
                </ColGroup>
                <HeaderContent>

                </HeaderContent>
                <RowTemplate>
                    <MudTd>
                        <MudStack Row="true" AlignItems="AlignItems.Center">
                            <MudAvatar Square="true" Style="background-color:inherit">
                                @switch (context.Attributes.TransactionType)
                                {
                                    case null:
                                    case "Purchase":
                                    case "EFTPOS Purchase":
                                    case "International Purchase":
                                    case "Direct Debit":
                                    case "ATM Operator Fee":
                                        <MudIcon Icon="@Icons.Material.Filled.Payment" />
                                        break;
                                    case "Round Up":
                                        <MudIcon Icon="@Icons.Material.Filled.ArrowUpward" />
                                        break;
                                    case "Transfer":
                                    case "Payment":
                                    case "Scheduled Transfer":
                                    case "Deposit":
                                    case "Pay Anyone":
                                    case "Osko Payment Received":
                                    case "Direct Credit":
                                    case "EFTPOS Withdrawal":
                                    case "EFTPOS Deposit":
                                    case "Bonus Payment":
                                        <MudIcon Icon="@Icons.Material.Filled.ArrowForward" />
                                        break;
                                    case "International ATM Cash Out":
                                    case "ATM Cash Out":
                                    case "Bank@Post Deposit":
                                        <MudIcon Icon="@Icons.Material.Filled.Money" />
                                        break;
                                    case "BPAY Payment":
                                        <MudText Inline="true" Typo="Typo.caption">BPAY</MudText>
                                        break;
                                    case "Salary":
                                        <MudIcon Icon="@Icons.Material.Filled.Mail" />
                                        break;
                                    case "Interest":
                                    case "Dividend":
                                        <MudIcon Icon="@Icons.Material.Filled.Percent" />
                                        break;
                                    case "Refund":
                                        <MudIcon Icon="@Icons.Material.Filled.Undo" />
                                        break;
                                    case "Drawdown":
                                        <MudIcon Icon="@Icons.Material.Filled.ArrowDownward" />
                                        break;
                                    case "Lenders Mortgage Insurance":
                                        <MudIcon Icon="@Icons.Material.Filled.HealthAndSafety" />
                                        break;
                                }
                            </MudAvatar>
                            <MudStack Spacing="0">
                                <MudText>
                                    @context.Attributes.Description
                                </MudText>
                                <MudText Typo="Typo.caption" Class="mud-text-disabled">
                                    @context.Attributes.CreatedAt.ToString("g")
                                    @if (!string.IsNullOrEmpty(context.Attributes.Message))
                                    {
                                        <span> - @context.Attributes.Message</span>
                                    }
                                </MudText>
                            </MudStack>
                        </MudStack>
                    </MudTd>
                    <MudTd Style="text-align:right">
                    </MudTd>
                    <MudTd Style="text-align:right">
                        <MudStack Spacing="0">
                            <MudText
                                Color="@(context.Attributes.Amount.ValueInBaseUnits > 0 ? Color.Success : Color.Inherit)">
                                @context.Attributes.Amount.ToDisplayString()
                            </MudText>

                            @if (context.Attributes.Status == "HELD")
                            {
                                <MudText Typo="Typo.caption" Class="mud-text-disabled">PENDING</MudText>
                            }
                        </MudStack>
                    </MudTd>
                </RowTemplate>
                <NoRecordsContent>
                    <MudText>No transactions found</MudText>
                </NoRecordsContent>
                <LoadingContent>
                    <MudText>Loading...</MudText>
                </LoadingContent>
            </MudTable>
            <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.FlexEnd" Class="pa-1">
                <MudStack Row="true" AlignItems="AlignItems.Center">
                    <MudInputLabel Typo="Typo.body2">Results per page:</MudInputLabel>
                    <MudSelect Value="@_resultsPerPage" Disabled="@_loading"
                        ValueChanged="@((int value) => OnResultsPerPageChanged(value))"
                        Class="mud-table-pagination-select" Dense="true" Typo="Typo.body2" Underline="false">
                        <MudSelectItem Value="25">25</MudSelectItem>
                        <MudSelectItem Value="50">50</MudSelectItem>
                        <MudSelectItem Value="100">100</MudSelectItem>
                    </MudSelect>
                </MudStack>
                <MudIconButton OnClick="OnFirstButtonClicked" Disabled="@(_loading || PrevPageLink == null)"
                    Icon="@Icons.Material.Filled.FirstPage" />
                <MudIconButton OnClick="OnPrevButtonClicked" Disabled="@(_loading || PrevPageLink == null)"
                    Icon="@Icons.Material.Filled.NavigateBefore" />
                <MudIconButton OnClick="OnNextButtonClicked" Disabled="@(_loading || NextPageLink == null)"
                    Icon="@Icons.Material.Filled.NavigateNext" />
            </MudStack>
        </MudPaper>
    </MudStack>
</EnsureAuthenticated>
